################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Reminder/bin/Debug/net8.0
/Reminder/obj
